body {
	background-color: powderblue;
}

.header {
	border: 1px outset red;
	background-color: lightblue;
	text-align: center;
	overflow: hidden;
	width: 90%;
	margin: auto;
}

.globalTimer {
	background-color: orange;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

.packetTimer {
	background-color: green;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

.yourIP {
	background-color: pink;
	text-align: center;
	width: 80%;
	float: left;
	vertical-align: top;
}

.score {
	background-color: purple;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

.lives {
	background-color: yellow;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

.main {
	border-bottom: 1px outset red;
	border-left: 1px outset red;
	border-right: 1px outset red;
	background-color: lightblue;
	text-align: center;
	overflow: hidden;
	width:90%;
	margin: auto;
}

.queue {
	background-color: lightblue;
	border-right: 1px outset red;
	text-align: center;
	overflow: hidden;
	width: 5%;
	height: 80%;
	float: left;
}

.contentContainer {
	background-color: lightblue;
	border-right: 1px outset red;
	text-align: center;
	overflow: hidden;
	width: 35%;
	height: 80%;
	float: left;
}

.portrait {
	height: 30%;
    position: relative;
    overflow: hidden;
}

.buttons {
	background-color: lightblue;
	border-top: 1px outset red;
}

.packet {
	background-color: lightblue;
	border-right: 1px outset red;
	text-align: center;
	overflow: hidden;
	width: 35%;
	height: 80%;
	float: left;
}

.rules {
	background-color: lightblue;
	text-align: center;
	overflow: hidden;
	height: 80%;
	width: 24%;
	float: left;
	position: relative;
}

.rulesText {
	position: absolute;
	top: 3%;
	right: 20%;
	color: black;
}

.packageTag {
	position: absolute;
	top: 20%;
	right: 40%;
	color: black;
}