body {
	background-color: powderblue;
}

#header {
	border: 1px outset red;
	background-color: lightblue;
	text-align: center;
	overflow: hidden;
	width: 90%;
	margin: auto;
}

#globalTimer {
	background-color: orange;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

#packetTimer {
	background-color: green;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

#yourIP {
	background-color: pink;
	text-align: center;
	width: 80%;
	float: left;
	vertical-align: top;
}

#score {
	background-color: purple;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

#lives {
	background-color: yellow;
	text-align: center;
	width: 5%;
	float: left;
	vertical-align: top;
}

#main {
	border-bottom: 1px outset red;
	border-left: 1px outset red;
	border-right: 1px outset red;
	background-color: lightblue;
	text-align: center;
	overflow: hidden;
	width:90%;
	margin: auto;
}

#queue {
	background-color: lightblue;
	border-right: 1px outset red;
	text-align: center;
	overflow: hidden;
	width: 5%;
	height: 80%;
	float: left;
	background-image: url('img/belt.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

#contentContainer {
	background-color: lightblue;
	border-right: 1px outset red;
	text-align: center;
	overflow: hidden;
	width: 35%;
	height: 80%;
	float: left;
}

#portrait {
	height: 45%;
    position: relative;
    overflow: hidden;
}

#buttons {
	background-color: lightblue;
	border-top: 1px outset red;
}

#packetTagContainer {
	background-color: lightblue;
	border-right: 1px outset red;
	text-align: center;
	overflow: hidden;
	width: 35%;
	height: 80%;
	float: left;
}

#rules {
	background-color: lightblue;
	text-align: center;
	overflow: hidden;
	height: 80%;
	width: 24%;
	float: left;
	position: relative;
}

#rulesText {
	position: absolute;
	top: 3%;
	right: 20%;
	color: black;
}

#packetTag {
	left: -95%;
	position: relative;
    overflow: hidden;
}

#packageTagText {
	position: absolute;
	top: 20%;
	right: 40%;
	color: black;
}


#warningText {
	position: relative;
	color: black;
}

.packageEntrance {
	animation-name: entrance;
	animation-duration: 0.4s;	
}

.packageAccept {
	animation-name: accept;
	animation-duration: 0.4s;	
}

.packageDeny {
	animation-name: deny;
	animation-duration: 0.4s;	
}

@keyframes entrance {
	0% {left: -100%;}
	100% {left: 0%;}
}

@keyframes accept {
	0% {left: 0%;}
	100% {left: 100%;}
}

@keyframes deny {
	0% {left: 0%;}
	100% {left: -100%;}
}

